#main-container table tr td:nth-child(1),
#main-container table tr td:nth-child(2) {
    width: 150px;
}
#main-container table tr td:nth-child(3),
#main-container table tr th:nth-child(3)
{
    width: 100px;
    text-align: right;
}
#main-container table tr td:last-child {
    width: 130px;
    padding-left: 20px;
    text-align: right;
}

footer {
    margin-top: 30px;
}
th[data-sort]{
    cursor: pointer;
}

#filter-form{
    padding-left: 8px;
}